/* 
#303841
#3A4750
#D72323
#EEEEEE */

/* ==================== Mobile View 375px =========================== */



body {
    margin: 0;
    background-color: #3a4750;
}

.body-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 0px;    
    padding: 1rem;
    background-color: #eee;
    font-family: 'Overpass', sans-serif;
}


/* HEADER ATTRIBUTES */

header {
    background: #3A4750;
    display: inline-block;
    
}

.navigation-header {
    
    display: flex;
    justify-content: space-between;
    font-family: 'Overpass', sans-serif; 
    width: 100vw; 
}

.nav-left {
    display: flex;
    /* background-color: red; */

}

.navigation-header h3 {
    display: flex;
    align-items: center;
    margin: 1rem;
}

/* HEADER ATTRIBUTES */

.greet {
    background-color: #303841;
    border-radius: 9px;
    padding: 1rem;
}

.content-container {
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.image-container {
    width: 100%;
    border-radius: 12px;
    margin-top: 1rem;
    padding: 2em 1em 0;
    background-color: #bababa;
    box-shadow: 10px 10px 15px inset #303841
}

a {
    text-decoration: none;
    color: #D72323;
}

a:visited, a:hover {
    filter: brightness(.7);
}

header h3 {
    color: #D72323;
}

h1 {
    color: #D6b438;
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
}

h2 {
    color:#eee;
}

.image-container img {    
    border-radius: 9px; 
    width: 90%;   
    box-shadow: 10px 10px 0px #303841;
}

.image-container img:hover {    
    border: none;
    opacity: 45%;
}

figcaption {
    font-family: 'Overpass', sans-serif;
    margin: .5rem;
    color: #eee;
    text-shadow: 5px 5px 3px #303841;
}

footer {
    background-color: #3a4750;
    text-align: right;
    margin: 0 1rem;
    font-family: 'Overpass', sans-serif;
    color: #D72323;
}


/* ================================== Desktop Grid View 925p or higher ========================= */

@media (min-width: 925px) {
    .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}


/* =============================== Above 480p Below 925p ==================================== */


@media (min-width: 480px) {

    .navigation-header {
        width: auto;
    }

    .image-container {
        width: auto;
    }

    .image-container img {
        width: 360px;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        
    }
}

