body {
    margin: 0;
    background-color: #d8e3e7;
}

.body-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 12px;
    width: 90vw;
    padding: 1rem;
    background-color: #51c4d3;
    font-family: 'Overpass', sans-serif;
}

.body-container h2 {
    text-align: left;
    color: tomato;
    padding: 0 10vw;
    margin: 0 0 4rem 0;
}


/* HEADER ATTRIBUTES */

header {
    background: #d8e3e7;
    display: inline-block;
    
}

.navigation-header {
    color: #132c33;
    background:#d8e3e7;
    display: flex;
    justify-content: space-between;
    font-family: 'Overpass', sans-serif; 
    width: 100vw; 
}

.nav-left {
    display: flex;
    /* background-color: red; */

}

.navigation-header h3 {
    display: flex;
    align-items: center;
    margin: 1rem;
}

/* HEADER ATTRIBUTES */

.content-container {
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container {
    margin-top: 1rem;
}

header h3 {
    color: #126e82;
}

h1 {
    color: #126e82;
}

.image-container img {    
    border-radius: 9px; 
    width: 90vw;   
    box-shadow: 8px 8px 6px #126e82;
}

.image-container img:hover {    
    border: none;
    opacity: 45%;
}

figcaption {
    font-family: 'Overpass', sans-serif;
    margin: .5rem;
    color: #126e82;
}

footer {
    background-color: #d8e3e7;
    text-align: right;
    margin: 0 1rem;
    font-family: 'Overpass', sans-serif;
    color: #51C4D3;
}

@media (min-width: 925px) {
    .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 480px) {

    .navigation-header {
        width: 100%;
    }

    .image-container img {
        width: auto;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* header {

    } */

    h1 {
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin: 2rem;
    }
    
    .body-container h2 {
    text-align: center;
    }
}

