/* font-family: 'Barlow Semi Condensed', sans-serif; */

/* ==================Mobile View 450px or less===================== */

.main {    
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    background-color: hsl(210, 46%, 95%);
}

img {
    border: 3px solid;
    width: 60%;
    border-radius: 30px;
}

h4, h5 {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

h4, h1 {
    color: white;
}

p, h5 {
    color: hsl(0, 0%, 81%);
}

p {
    letter-spacing: .2px;
    line-height: 1.5;
    font-weight: bold;
}

article {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

section {
    box-shadow: 30px 30px 50px hsl(0, 0%, 81%);
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 2rem 2.5rem;
    margin: 1rem;
    border-radius: 12px;
}

.section-header {
    /* background-color: green; */
    display: flex;
}

.section-header-image {
    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.section-header-title {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kira h1, .kira h4, .jeanette h1, .jeanette h4 {
    color: hsl(217, 19%, 35%);
}

.kira p, .kira h5, .jeanette p, .jeanette h5 {
    color: hsl(217, 19%, 35%);
}


/* --------------------------------------------------------------------- */
/* white letters in h5 set to 50% opacity */
.daniel h5, .jonathan h5, .patrick h5 {
    color: white;
    opacity: 50%;
}

/* all paragraphs set to 70% opacity */
.daniel p, .jonathan p, .patrick p, .kira p, .jeanette p {
    opacity: 70%;
}

/* dark letters in h5 set to 50% opacity */
.kira h5, .jeanette h5 {
    opacity: 50%;
}
/* --------------------------------------------------------------------- */

.quote {
    z-index: 1;
    position: absolute;
    width: 20%;
    right: 15%;
    top: 0%;
    border: none;
    border-radius: 0;
}

.daniel {
    grid-area: purp;
    color: hsl(0, 0%, 100%);
    background-color: hsl(263, 55%, 52%);
}

.daniel img {    
    border-color: hsl(263, 55%, 52%);    
}

.jonathan {
    grid-area: gry;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 19%, 35%);
}

.jonathan img {
    border-color: white;
}

.jeanette {
    grid-area: ylw;
    color: hsl(0, 0%, 81%);
    background-color: hsl(0, 0%, 100%);
}

.jeanette img {
    border-color: white;
}

.patrick {
    grid-area: blk;
    color: hsl(210, 46%, 95%);
    background-color: hsl(219, 29%, 14%);
}

.patrick h1 {
    color: hsl(210, 46%, 95%);
}

.patrick img {
    width: 60%;
    border: 3px solid hsl(263, 55%, 52%);
}

.kira {
    grid-area: wht;
    color: hsl(217, 19%, 35%);
    background-color: hsl(0, 0%, 100%);
}

.kira img {
    border-color: white;
}


/* ======================Desktop View 1400px==================================== */

@media (min-width: 450px) {

    

    .main {
        width: 80%;
        padding: 10em;
        font-size: 13px;
        display: grid;  
        grid-template-rows: 50% 50%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: 'purp purp gry wht'
                             'ylw blk blk wht';      
    }

    body {
        background-color: hsl(210, 46%, 95%);
        display: flex;
        flex-direction: column;
        margin: 0%;
        justify-content: center;
        align-items: center;
        width: 1440px;
    }

  
    section {
        padding: 2.1em;
    }

    .daniel .section-header {
        margin-bottom: 1em;
    }

    .daniel p {
        margin: 1em 0 4em;
    }

    .section-header-title {
        font-size: 1em;
    }

    section p {
        font-size: 13px;
        margin: auto;
    }
    
    h1 {
        margin: auto;
        font-size: 1.5em;
    }
}